.input-wrapper {
  margin: 0;
  margin-bottom: 1.5rem;
}

.label-input {
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 0.8rem;
  outline: none;
  opacity: 0.8;
}
.custom-input:focus {
  opacity: 1;
  transition: all 0.2s;
}

.custom-input::placeholder {
  color: #aaa;
}
