.btn {
  color: var(--theme);
  text-align: center;
  margin: 1rem 0rem;
  padding: 0.5rem !important;
  background-color: var(--white);
  border: 1px solid var(--theme);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto !important;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.btn:hover {
  background-color: var(--theme);
  color: var(--white);
  transition: all 0.3s;
}

.btn-blue {
  color: var(--white);
  background-color: var(--theme);
}

.btn-blue:hover {
  background-color: var(--white);
  color: var(--theme);
  transition: all 0.3s;
}
