.navbar {
  background-color: var(--theme);
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: var(--white);
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
  text-decoration: none;
}
.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.link {
  opacity: 0.75;
  cursor: pointer;
  color: var(--white);
  margin: 0;
}

.link:hover {
  opacity: 1;
  transition: all 0.3s;
}

.login-signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}
.login-btn,.signup-btn{
  color: var(--theme);
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  outline: none;
  border: 1px solid var(--theme);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.4s;
}
.login-btn:hover, .signup-btn:hover{
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--theme);
}