.wrapper,
.charts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

.p-login {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--black);
}
.charts-wrapper {
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}
.charts-wrapper div{
  width: 100%;
}
