@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --theme: #387ef5;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
label,
span,
.ant-modal {
  font-family: "Montserrat", sans-serif !important;
}

.custom-input {
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
}

.custom-input {
  margin-top: -1rem !important;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
